.tracklist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.track {
	@include clearfix;
	display: flex;
	padding-bottom: 1em;

	img {
		flex: 0 auto;
		padding-right: 1em;
		width: 100px;
		height: 100px;
	}
}

.track-content {
	position: relative;
	flex-grow: 1;

	p {
		margin-top: 0;
	}

	button,
	.button {
		position: absolute;
		top: 0;
		right: 0;
		background: none;
		border: none;
		color: $body-color;

		&.liked,
		&:hover,
		&:focus,
		&:active {
			color: $like-color;
			outline: none;
		}
	}
}

.track-title,
.track-artist {
	margin-top: 0;
	line-height: 1.5;
}

.track-title {
	margin-bottom: 0;
	padding-right: 3em;
}