@import "mixins";

@import "settings";

@import "normalize";

@import "tracklist";

body {
	background: $body-background;
	color: $body-color;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		color: $link-hover;
	}
}

.wrap {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.app-container,
.spotify-player {
	flex: 0 0 100%;
}

.app-container {
	padding: 1em;
}

.spotify-player {
	padding: 6em 2em 2em;
	text-align: center;
	background: #d6d6d6;
}

@media screen and (min-width: 56em) {
	.app-container {
		flex: 1 0 50%;
	}

	.spotify-player {
		flex: 0 1 50%;
	}
}

.app-title {
	text-align: center;
}

.nav {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 2em 0;

	li {
		display: inline-block;

		a {
			display: inline-block;
			padding: 0.5em 1em;
		}
		

		a.active {
			background: $link-color;
			color: $body-background;
		}
	}
}

.more-button {
	display: block;
	margin: 0 auto;
	padding: 0.5em 1em;
	background: $link-color;
	color: $body-background;
	border: none;
}